body{
    background: rgba(247, 153, 37, 97);
    font: normal 15px Arial;
}
header{
    color:white;
    text-align: center;
}
section{
    background: rgba(255, 255, 255, 0.575);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(168, 104, 25, 66);
}
footer{
    color: white;
    text-align: center;
    font-style: initial;
}

input#txtnum{
    width: 50px;
}

select#selTab{
    width: 130px;
    height: 210px;
}